header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 8pt;
    font-weight: normal;
    background-color: rgb(224, 223, 221);
    border-bottom: 1px dotted rgb(41, 40, 39);
    height: 50px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

#header_line {
    width: auto;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgb(224, 223, 221);
    border-top: 1px dotted rgb(41, 40, 39);
    height: 50px;
}

.nav_item {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    color: rgb(43, 41, 39);
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.cont_icon {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.cont_wrap {
    display: flex;
    align-items: center;
}

.text_wrap {
    color: rgb(43, 41, 39);
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 120%;
}

.contents_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    text-align: center;
}

#profile {
    width: 300px;
    height: 300px;
}

.full-screen {
    height: 90vh;
    display: grid;
    place-items: center;
    min-height: 90vh;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

.about_list {
    text-align: left;
    list-style: none;
}

.home_btn {
    position: fixed;
    top: 10px;
    left: 20px;
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

#backBtn {
    width: 30px;
    height: 30px;
}