#text_wrap {
    display: none;
}

ul {
    list-style: none;
}

.typing ul li.on {
    display: inline-block;
    animation-name: cursor;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    0% {
        border-right: 1px solid #fff
    }
    50% {
        border-right: 1px solid #000
    }
    100% {
        border-right: 1px solid #fff
    }
}

li {
    word-break: keep-all;
    text-align: left;
    color: #fff;
    font-size: 15pt;
    line-height: 1.5em;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background: #00d2ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3a7bd5, #00d2ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3a7bd5, #00d2ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top : 70px;
}

#text_master {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}

li {
    margin-top: 1rem;
}

.text {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
}

section {
    margin-bottom: 100px;
}

.profile {
    border: 2px solid black;
    height: 400px;
    width: 300px;
}

.member {
    text-align: center;
    font-size: 50px;
}

.sa {
    opacity: 0;
    transition: all .5s ease;
}

.sa-up {
    transform: translate(0, 100px);
}

.sa.show {
    opacity: 1;
    transform: none;
}

footer {
    text-align: right;
    line-height:60px;
    margin-top: center;
    color: white;
    width: 100%;
    height: 70px;
    background-color: #8B9BC7;
}
a {
    text-decoration-line: none;
}

header {
    width: 100%;
    height: 65px;
}

.logo {
    width: 100%;
    font-size: large;
    font-weight: 600;
    color: aliceblue;
}

.navbar-toggle {
    position: relative;
    left: calc(95%);
}
