html {
    background-color: antiquewhite;
}
.head {
    font-size: 20px;
    height: 45px;
    line-height: 45px;
}

.fa-solid fa-angle-left {
    position: relative;
    right: 280px;
}

button {
    background-color: transparent;
    border: 0;
}